+++
date = "2023-04-23"
title = "Google Id Token verification"
slug = "google-id-token-verification"
draft = true
[taxonomies]
tags=["golang"]
+++

公鑰要先parse過再使用才不會發生 Exception: key is of invalid type.

