<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
  <title>{% block title %} {{config.title}} {% endblock title %}</title>
</head>

<body>
<div style="text-align: center">
  <a href="{{ config.base_url }}">{{ config.title }}</a>
</div>
<nav>
  {% block nav %}

  <ul>
    {% for menu in config.extra.menus %}
    {% set link_url = menu.url | replace(from="$BASE_URL", to=config.base_url)
    %}
    <li>
      <a {% if current_url and current_url== link_url %} {% endif %}
         href="{{ link_url }}">{{menu.name}}</a>
    </li>
    {% endfor %}
  </ul>
  {% endblock nav %}
</nav>
{% block content %}
{% endblock content %}
<footer>
  <p>
    © {{ config.title }} {{ now() | date(format="%Y") }}<br>
    Powered by <a target="_blank" href="https://getzola.org/">Zola</a>.
  </p>
  <p>
    {% block footer %}
    {% endblock footer %}
  </p>
</footer>
</body>
</html>
